body {
  font-family: Arial, sans-serif;
  padding: 50px 0;
  margin: 0 auto;
  width: 100vw;
  min-height: calc(100vh - 100px);
  text-align: center;
}

img {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

h1 {
  font-size: 2em;
  margin: 10px 0;
}

hr {
  width: 80%;
  margin: 30px auto;
  border: 1px solid black;
}

main {
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 20px 5%;
}

section {
  width: 30%;
}